Данные - https://www.kaggle.com/usdot/flight-delays
Задачи:
1. Найти аэропорт с минимальной задержкой вылета 
2. Самая пунктуальная авиакомпания на прилет в Los Angeles International Airport
3. Найти аэропорт, где самолёты проводят больше всего времени на рулении (среднее значение)
4. Построить модель которая будет выбирать топ 3 аэропорта прилета (вероятность опоздания минимальная – RMSE метрика),  в зависимости от аэропорта вылета

In [1]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm
import random
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.options.mode.chained_assignment = None

In [2]:
%%time
df=pd.read_csv('Data/flights.csv', low_memory=False, dtype={'YEAR':str, 'MONTH':str, 'DAY':str, 'DAY_OF_WEEK':str, 'AIRLINE':str})

CPU times: total: 17 s
Wall time: 17.2 s

In [3]:
df.shape

(5819079, 31)

In [4]:
pd.set_option('display.max_columns', None)
df.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 object
 1   MONTH                object
 2   DAY                  object
 3   DAY_OF_WEEK          object
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(6), object(9)
memory usage: 1.3+ GB

### Оставим в датафрейме только те столбцы, которые нам нужны для решения поставленных задач

In [6]:
df=df[['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'DEPARTURE_DELAY', 'TAXI_OUT', 'TAXI_IN', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED']].copy()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 13 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 object
 1   MONTH                object
 2   DAY                  object
 3   DAY_OF_WEEK          object
 4   AIRLINE              object
 5   ORIGIN_AIRPORT       object
 6   DESTINATION_AIRPORT  object
 7   DEPARTURE_DELAY      float64
 8   TAXI_OUT             float64
 9   TAXI_IN              float64
 10  ARRIVAL_DELAY        float64
 11  DIVERTED             int64
 12  CANCELLED            int64
dtypes: float64(4), int64(2), object(7)
memory usage: 577.1+ MB

### Из проведенного исследования нам известно, что в данных за октябрь месяц обозначения аэропортов в столбцах 'ORIGIN_AIRPORT' и'DESTINATION_AIRPORT' представлены в виде 5-и значного цифрового кода, тогда как в остальной части данных - в виде 3-х значного буквенно-цифрового кода

In [8]:
df.loc[df['MONTH'] == '10' ].head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_DELAY,TAXI_OUT,TAXI_IN,ARRIVAL_DELAY,DIVERTED,CANCELLED
4385712,2015,10,1,4,AA,14747,11298,10.0,15.0,4.0,-19.0,0,0
4385713,2015,10,1,4,DL,14771,13487,11.0,14.0,7.0,-10.0,0,0
4385714,2015,10,1,4,NK,12889,13487,-5.0,15.0,4.0,-14.0,0,0
4385715,2015,10,1,4,AA,12892,13303,-3.0,28.0,7.0,7.0,0,0
4385716,2015,10,1,4,AA,14771,11057,-2.0,12.0,13.0,-11.0,0,0

In [9]:
df.loc[df['ORIGIN_AIRPORT'].str.len () != 3 ].shape

(486165, 13)

###### По адресу https://github.com/srcole/flightdelay/blob/master/airportcodes/L_AIRPORT_ID.csv получим файл, в котором указано, какому аэропорту соответствует 5-и значный код

In [10]:
df_digit_aircodes=pd.read_csv('Data/L_AIRPORT_ID.csv', low_memory=False, dtype={'Code':str, 'Description':str})

In [11]:
df_digit_aircodes.shape

(6414, 2)

In [12]:
df_digit_aircodes.head()

    Code                                    Description
0  10001         Afognak Lake, AK: Afognak Lake Airport
1  10003  Granite Mountain, AK: Bear Creek Mining Strip
2  10004                       Lik, AK: Lik Mining Camp
3  10005         Little Squaw, AK: Little Squaw Airport
4  10006                     Kizhuyak, AK: Kizhuyak Bay

In [13]:
df_digit_aircodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6414 entries, 0 to 6413
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         6414 non-null   object
 1   Description  6414 non-null   object
dtypes: object(2)
memory usage: 100.3+ KB

###### По адресу https://github.com/srcole/flightdelay/blob/master/airportcodes/L_AIRPORT.csv получим файл, в котором указано, какому аэропорту соответствует 3-х значный код

In [14]:
df_norm_aircodes=pd.read_csv('Data/L_AIRPORT.csv', low_memory=False)

In [15]:
df_norm_aircodes.shape

(6429, 2)

In [16]:
df_norm_aircodes.head()

  Code                                    Description
0  01A         Afognak Lake, AK: Afognak Lake Airport
1  03A  Granite Mountain, AK: Bear Creek Mining Strip
2  04A                       Lik, AK: Lik Mining Camp
3  05A         Little Squaw, AK: Little Squaw Airport
4  06A                     Kizhuyak, AK: Kizhuyak Bay

In [17]:
df_norm_aircodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6429 entries, 0 to 6428
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         6429 non-null   object
 1   Description  6429 non-null   object
dtypes: object(2)
memory usage: 100.6+ KB

###### Смержим обе эти таблицы по столбцу 'Description'

In [18]:
df_merge_aircodes=df_digit_aircodes.merge(df_norm_aircodes, how='inner', on='Description')

In [19]:
df_merge_aircodes.shape

(6443, 3)

In [20]:
df_merge_aircodes.head()

  Code_x                                    Description Code_y
0  10001         Afognak Lake, AK: Afognak Lake Airport    01A
1  10003  Granite Mountain, AK: Bear Creek Mining Strip    03A
2  10004                       Lik, AK: Lik Mining Camp    04A
3  10005         Little Squaw, AK: Little Squaw Airport    05A
4  10006                     Kizhuyak, AK: Kizhuyak Bay    06A

In [21]:
df_merge_aircodes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6443 entries, 0 to 6442
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code_x       6443 non-null   object
 1   Description  6443 non-null   object
 2   Code_y       6443 non-null   object
dtypes: object(3)
memory usage: 201.3+ KB

In [22]:
df_merge_aircodes.rename(columns = {'Code_x':'Code_id', 'Code_y':'Code'}, inplace = True )

In [23]:
df_merge_aircodes.head()

  Code_id                                    Description Code
0   10001         Afognak Lake, AK: Afognak Lake Airport  01A
1   10003  Granite Mountain, AK: Bear Creek Mining Strip  03A
2   10004                       Lik, AK: Lik Mining Camp  04A
3   10005         Little Squaw, AK: Little Squaw Airport  05A
4   10006                     Kizhuyak, AK: Kizhuyak Bay  06A

###### Загрузим файл с данными аэропортов, которые представлены в изучаемом нами датафрейме

In [24]:
df_other_aircodes=pd.read_csv('Data/airports.csv', low_memory=False)

In [25]:
df_other_aircodes.shape

(322, 7)

In [26]:
df_other_aircodes.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [27]:
df_other_aircodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  322 non-null    object
 1   AIRPORT    322 non-null    object
 2   CITY       322 non-null    object
 3   STATE      322 non-null    object
 4   COUNTRY    322 non-null    object
 5   LATITUDE   319 non-null    float64
 6   LONGITUDE  319 non-null    float64
dtypes: float64(2), object(5)
memory usage: 17.7+ KB

###### Смержим таблицы df_merge_aircodes и df_other_aircodes, чтобы получить таблицу, в которой будет соответствие используемых в нашем датасете аэропортов по 5-и значному цифровому коду и 3-х значному буквенному

In [28]:
df_aircodes=df_other_aircodes.merge(df_merge_aircodes, how='inner', left_on='IATA_CODE', right_on='Code')

In [29]:
df_aircodes.shape

(323, 10)

In [30]:
df_aircodes.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,Code_id,Description,Code
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040,10135,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",ABE
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190,10136,"Abilene, TX: Abilene Regional",ABI
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919,10140,"Albuquerque, NM: Albuquerque International Sun...",ABQ
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183,10141,"Aberdeen, SD: Aberdeen Regional",ABR
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447,10146,"Albany, GA: Southwest Georgia Regional",ABY

In [31]:
df_aircodes.tail()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,Code_id,Description,Code
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764,15897,"West Yellowstone, MT: Yellowstone",WYS
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681,15919,"Fayetteville, AR: Northwest Arkansas Regional",XNA
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023,15991,"Yakutat, AK: Yakutat Airport",YAK
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597,13785,"Yuma, AZ: Yuma MCAS/Yuma International",YUM
322,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597,16218,"Yuma, AZ: Yuma MCAS/Yuma International",YUM

###### Выполним замену 5-и значных цифровых кодов на 3-х значные буквенные

In [32]:
n_fl = len(df)
n_fl

5819079

In [33]:
%%time
for i in tqdm(range(n_fl)):
    if len(df['ORIGIN_AIRPORT'].values[i]) !=3:
        df.loc[df['ORIGIN_AIRPORT'] == df['ORIGIN_AIRPORT'].values[i], 'ORIGIN_AIRPORT'] = df_aircodes['IATA_CODE'].loc[df_aircodes['Code_id'] == df['ORIGIN_AIRPORT'].values[i]].values[0]
    elif len(df['DESTINATION_AIRPORT'].values[i]) !=3:
        df.loc[df['DESTINATION_AIRPORT'] == df['DESTINATION_AIRPORT'].values[i], 'DESTINATION_AIRPORT'] = df_aircodes['IATA_CODE'].loc[df_aircodes['Code_id'] == df['DESTINATION_AIRPORT'].values[i]].values[0]

  0%|          | 0/5819079 [00:00<?, ?it/s]

CPU times: total: 3min 45s
Wall time: 3min 49s

In [34]:
df.loc[df['MONTH'] == '10' ].head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_DELAY,TAXI_OUT,TAXI_IN,ARRIVAL_DELAY,DIVERTED,CANCELLED
4385712,2015,10,1,4,AA,SEA,DFW,10.0,15.0,4.0,-19.0,0,0
4385713,2015,10,1,4,DL,SFO,MSP,11.0,14.0,7.0,-10.0,0,0
4385714,2015,10,1,4,NK,LAS,MSP,-5.0,15.0,4.0,-14.0,0,0
4385715,2015,10,1,4,AA,LAX,MIA,-3.0,28.0,7.0,7.0,0,0
4385716,2015,10,1,4,AA,SFO,CLT,-2.0,12.0,13.0,-11.0,0,0

In [35]:
df.loc[df['ORIGIN_AIRPORT'].str.len () != 3 ].shape

(0, 13)

In [36]:
df.loc[df['DESTINATION_AIRPORT'].str.len () != 3 ].shape

(0, 13)

In [37]:
df.isna().sum()

YEAR                        0
MONTH                       0
DAY                         0
DAY_OF_WEEK                 0
AIRLINE                     0
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
DEPARTURE_DELAY         86153
TAXI_OUT                89047
TAXI_IN                 92513
ARRIVAL_DELAY          105071
DIVERTED                    0
CANCELLED                   0
dtype: int64

## 1. Найти аэропорт с минимальной задержкой вылета

In [38]:
df1 = df.groupby('ORIGIN_AIRPORT')['DEPARTURE_DELAY'].median().sort_values(ascending=True)

In [39]:
df1.head()

ORIGIN_AIRPORT
YAK   -12.0
CDV   -10.0
VEL    -9.0
DIK    -8.0
PIH    -8.0
Name: DEPARTURE_DELAY, dtype: float64

In [40]:
df1.index[0]

'YAK'

YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023 - аэрпорт с минимальной задержкой вылета

## 2. Самая пунктуальная авиакомпания на прилет в Los Angeles International Airport

LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807

In [41]:
df2 = df.loc[df['DESTINATION_AIRPORT'] == 'LAX' ]

In [42]:
df3 = df2.groupby('AIRLINE')['ARRIVAL_DELAY'].median().sort_values(ascending=True)

In [43]:
df3.head()

AIRLINE
HA   -9.0
AA   -7.0
B6   -7.0
DL   -6.0
AS   -5.0
Name: ARRIVAL_DELAY, dtype: float64

In [44]:
df3.index[0]

'HA'

HA,Hawaiian Airlines Inc. - самая пунктуальная авиакомпания на прилет в Los Angeles International Airport

## 3. Найти аэропорт, где самолёты проводят больше всего времени на рулении (среднее значение)

In [45]:
pd.set_option('display.max_columns', None)
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_DELAY,TAXI_OUT,TAXI_IN,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,2015,1,1,4,AS,ANC,SEA,-11.0,21.0,4.0,-22.0,0,0
1,2015,1,1,4,AA,LAX,PBI,-8.0,12.0,4.0,-9.0,0,0
2,2015,1,1,4,US,SFO,CLT,-2.0,16.0,11.0,5.0,0,0
3,2015,1,1,4,AA,LAX,MIA,-5.0,15.0,8.0,-9.0,0,0
4,2015,1,1,4,AS,SEA,ANC,-1.0,11.0,5.0,-21.0,0,0

Самолеты при одном полете проводят время на рулении два раза:
    1. В аэропорте вылета с момента отправки до момента отрыва колес от взлетной полосы
    2. В аэропорте прилета с момента касания колес до взлетной полосы и до момента подъезда к терминалу.
Посчитаем каждое из этих времен отдельно.

### 3.1 Найдем аэропорт вылета, где самолеты проводят больше всего времени на рулении с момента отправки до момента отрыва колес от взлетной полосы

In [46]:
df4 = df.groupby('ORIGIN_AIRPORT')['TAXI_OUT'].mean().sort_values(ascending=False)

In [47]:
df4.shape

(322,)

In [48]:
df4.head()

ORIGIN_AIRPORT
JFK    26.734585
LGA    26.716354
ITH    22.533333
PHL    21.553135
ISN    20.957190
Name: TAXI_OUT, dtype: float64

In [49]:
df4.index[0]

'JFK'

JFK,John F. Kennedy International AirportВ (New York International Airport),New York,NY,USA,40.63975,-73.77893 - аэропорт вылета, где самолеты проводят больше всего времени на рулении с момента отправки до момента отрыва колес от взлетной полосы

### 3.2 Найдем аэропорт прилета, где самолеты проводят больше всего времени на рулении с момента касания колес до взлетной полосы и до момента подъезда к терминалу.

In [50]:
df5 = df.groupby('DESTINATION_AIRPORT')['TAXI_IN'].mean().sort_values(ascending=False)

In [51]:
df5.shape

(322,)

In [52]:
df5.index[0]

'ORD'

ORD,Chicago O'Hare International Airport,Chicago,IL,USA,41.97960,-87.90446 - аэропорт прилета, где самолеты проводят больше всего времени на рулении с момента касания колес до взлетной полосы и до момента подъезда к терминалу.

## 4. Построить модель которая будет выбирать топ 3 аэропорта прилета (вероятность опоздания минимальная – RMSE метрика), в зависимости от аэропорта вылета

In [53]:
# получаем список всех аэропортов вылета
origin_airport_list = df['ORIGIN_AIRPORT'].tolist()
origin_airport_list1 = list(set(origin_airport_list))
len(origin_airport_list1)

322

In [54]:
# задаем дату, на которую нужно выполнить предсказание задержки
date_specific = '2016-12-31'

In [55]:
# выбираем один случайным образом
random_airport = random.choice(origin_airport_list1)

In [56]:
# описываем с помощью функции вывод результата
def output(airport, df_out):
    if len(df_result) == 1:
        return f"Вылет - {airport}.\n    Прилет - {df_out['Airport'].values[0]} ({int(df_out['Arrival_delay'].values[0])})"
    elif len(df_result) == 2:
        return f"Вылет - {airport}.\n    Прилет - {df_out['Airport'].values[0]} ({int(df_out['Arrival_delay'].values[0])}), {df_out['Airport'].values[1]} ({int(df_out['Arrival_delay'].values[1])})"
    else:
        return f"Вылет - {airport}.\n    Прилет - {df_out['Airport'].values[0]} ({int(df_out['Arrival_delay'].values[0])}), {df_out['Airport'].values[1]} ({int(df_out['Arrival_delay'].values[1])}), {df_out['Airport'].values[2]} ({int(df_out['Arrival_delay'].values[2])})"

In [57]:
# описываем функцию для создания фичей
def make_new_features(data, max_lag):
    data['year'] = data.index.year
    data['month'] = data.index.month
    data['day'] = data.index.day
    data['dayw'] = data.index.dayofweek
    
    for lag in range(1,max_lag+1):
        data['lag_{}'.format(lag)] = data['ARRIVAL_DELAY'].shift(lag)

In [58]:
date_specific = '2016-01-10'
df_result = pd.DataFrame(columns = ['Airport', 'Arrival_delay'])
df6 = df.loc[df['ORIGIN_AIRPORT'] == random_airport]
df7=df6[['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'ARRIVAL_DELAY']].copy()
df7.dropna(inplace=True)
destination_airport_list = df7['DESTINATION_AIRPORT'].tolist()
destination_airport_list1 = list(set(destination_airport_list))
for i in destination_airport_list1:
    df8 = df7.loc[df7['DESTINATION_AIRPORT'] == i]
    df8['DATE'] = df8['YEAR'] + '.' + df8['MONTH'] + '.' + df8['DAY']
    df8['DATE'] = pd.to_datetime(df8['DATE'], format = "%Y.%m.%d")
    df9 = df8.groupby('DATE', as_index = False)['ARRIVAL_DELAY'].median()
    df9 = df9.sort_values(by='DATE').reset_index(drop=True)
    df9.set_index('DATE', inplace = True)
    if len(df9) == 1:
        new_row = {'Airport': i, 'Arrival_delay': df9.values[0][0]}
        df10=pd.DataFrame([new_row])
        df_result = pd.concat([df_result,df10],ignore_index=True)
    elif len(df9) <= 20:
        df_copy = df9.copy()
        make_new_features(df_copy,0)
        df_copy.dropna(inplace=True)
        X_train,X_test, y_train, y_test = train_test_split(df_copy.drop('ARRIVAL_DELAY',axis=1),
                                                  df_copy.ARRIVAL_DELAY,
                                                  test_size=0.2,
                                                  random_state=1234556)
        lr=LinearRegression()
        lr.fit(X_train,y_train)
    
        df_new = pd.DataFrame()
        df_new['DATE'] = pd.Series(pd.to_datetime(date_specific))
        df_new['ARRIVAL_DELAY'] = 0
        forecast = pd.concat([df_copy,df_new],ignore_index=True)
        forecast.set_index('DATE',inplace = True)
        make_new_features(forecast,0)

        value_date = lr.predict(forecast.drop('ARRIVAL_DELAY',axis=1).tail(1))[0]

        new_row = {'Airport': i, 'Arrival_delay': value_date}
        df10=pd.DataFrame([new_row])
        df_result = pd.concat([df_result,df10],ignore_index=True)
        df_result.sort_values(by='Arrival_delay', ascending=True, inplace=True)
            
    else:    
        df_copy = df9.copy()
        make_new_features(df_copy, 7)
        df_copy.dropna(inplace=True)
        X_train,X_test, y_train, y_test = train_test_split(df_copy.drop('ARRIVAL_DELAY',axis=1),
                                                  df_copy.ARRIVAL_DELAY,
                                                  test_size=0.2,
                                                  random_state=1234556)
        lr=LinearRegression()
        lr.fit(X_train,y_train)

        df_new = pd.DataFrame()
        df_new['DATE'] = pd.Series(pd.to_datetime(date_specific))
        df_new['ARRIVAL_DELAY'] = 0
        forecast = pd.concat([df_copy,df_new],ignore_index=True)
        forecast.set_index('DATE',inplace = True)
        make_new_features(forecast, 7)
    
        value_date = lr.predict(forecast.drop('ARRIVAL_DELAY',axis=1).tail(1))[0]
        new_row = {'Airport': i, 'Arrival_delay': value_date}
        df10=pd.DataFrame([new_row])
        df_result = pd.concat([df_result, df10],ignore_index=True)
        df_result.sort_values(by='Arrival_delay', ascending=True, inplace=True)
print(output(random_airport, df_result))

Вылет - BUF.
    Прилет - RSW (-67), EWR (-30), FLL (-11)

###### Проверка для всех аэропортов на дату 10 января 2016

In [59]:
date_specific = '2016-01-10'

In [60]:
def output(airport, df_out):
    if len(df_result) == 1:
        return f"Вылет - {airport}.\n    Прилет - {df_out['Airport'].values[0]} ({int(df_out['Arrival_delay'].values[0])})"
    elif len(df_result) == 2:
        return f"Вылет - {airport}.\n    Прилет - {df_out['Airport'].values[0]} ({int(df_out['Arrival_delay'].values[0])}), {df_out['Airport'].values[1]} ({int(df_out['Arrival_delay'].values[1])})"
    else:
        return f"Вылет - {airport}.\n    Прилет - {df_out['Airport'].values[0]} ({int(df_out['Arrival_delay'].values[0])}), {df_out['Airport'].values[1]} ({int(df_out['Arrival_delay'].values[1])}), {df_out['Airport'].values[2]} ({int(df_out['Arrival_delay'].values[2])})"

In [61]:
def make_new_features(data, max_lag):
    # data['year'] = data.index.year
    data['month'] = data.index.month
    data['day'] = data.index.day
    data['dayw'] = data.index.dayofweek
    
    for lag in range(1,max_lag+1):
        data['lag_{}'.format(lag)] = data['ARRIVAL_DELAY'].shift(lag)

In [62]:
%%time
date_specific = '2016-01-10'
for j in tqdm(origin_airport_list1):
    df_result = pd.DataFrame(columns = ['Airport', 'Arrival_delay'])
    # print("origin" + j)
    df6 = df.loc[df['ORIGIN_AIRPORT'] == j]
    df7=df6[['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'ARRIVAL_DELAY']].copy()
    df7.dropna(inplace=True)
    destination_airport_list = df7['DESTINATION_AIRPORT'].tolist()
    # destination_airport_list1 = ['LGA', 'MCO']
    # destination_airport_list1 = 'MCO'
    destination_airport_list1 = list(set(destination_airport_list))
    for i in destination_airport_list1:
        # print("dest" + i)
        df8 = df7.loc[df7['DESTINATION_AIRPORT'] == i]
        df8['DATE'] = df8['YEAR'] + '.' + df8['MONTH'] + '.' + df8['DAY']
        df8['DATE'] = pd.to_datetime(df8['DATE'], format = "%Y.%m.%d")
        df9 = df8.groupby('DATE', as_index = False)['ARRIVAL_DELAY'].median()
        df9 = df9.sort_values(by='DATE').reset_index(drop=True)
        df9.set_index('DATE', inplace = True)
        if len(df9) == 1:
            new_row = {'Airport': i, 'Arrival_delay': df9.values[0][0]}
            df10=pd.DataFrame([new_row])
            df_result = pd.concat([df_result,df10],ignore_index=True)
        elif len(df9) <= 20:
            df_copy = df9.copy()
            make_new_features(df_copy,0)
            df_copy.dropna(inplace=True)
            X_train,X_test, y_train, y_test = train_test_split(df_copy.drop('ARRIVAL_DELAY',axis=1),
                                                      df_copy.ARRIVAL_DELAY,
                                                      test_size=0.2,
                                                      random_state=1234556)
            lr=LinearRegression()
            lr.fit(X_train,y_train)
    
            df_new = pd.DataFrame()
            df_new['DATE'] = pd.Series(pd.to_datetime(date_specific))
            df_new['ARRIVAL_DELAY'] = 0
            forecast = pd.concat([df_copy,df_new],ignore_index=True)
            forecast.set_index('DATE',inplace = True)
            make_new_features(forecast,0)
    
            value_date = lr.predict(forecast.drop('ARRIVAL_DELAY',axis=1).tail(1))[0]

            new_row = {'Airport': i, 'Arrival_delay': value_date}
            df10=pd.DataFrame([new_row])
            df_result = pd.concat([df_result,df10],ignore_index=True)
            df_result.sort_values(by='Arrival_delay', ascending=True, inplace=True)
            
        else:    
            df_copy = df9.copy()
            make_new_features(df_copy, 7)
            df_copy.dropna(inplace=True)
            X_train,X_test, y_train, y_test = train_test_split(df_copy.drop('ARRIVAL_DELAY',axis=1),
                                                      df_copy.ARRIVAL_DELAY,
                                                      test_size=0.2,
                                                      random_state=1234556)
            lr=LinearRegression()
            lr.fit(X_train,y_train)
    
            df_new = pd.DataFrame()
            df_new['DATE'] = pd.Series(pd.to_datetime(date_specific))
            df_new['ARRIVAL_DELAY'] = 0
            forecast = pd.concat([df_copy,df_new],ignore_index=True)
            forecast.set_index('DATE',inplace = True)
            make_new_features(forecast, 7)
    
            value_date = lr.predict(forecast.drop('ARRIVAL_DELAY',axis=1).tail(1))[0]
            new_row = {'Airport': i, 'Arrival_delay': value_date}
            df10=pd.DataFrame([new_row])
            df_result = pd.concat([df_result, df10],ignore_index=True)
            df_result.sort_values(by='Arrival_delay', ascending=True, inplace=True)
    print(output(j, df_result))
    print('')
    print('')

  0%|          | 0/322 [00:00<?, ?it/s]

KeyboardInterrupt: